# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Node files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Local env files
.env
.env.local
